/*Шрифты*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body {
    background: #E6E6E6;
}

.slide {
    max-width: 720px;
    height: 1024px;
    margin: 0 auto;
    box-sizing: border-box;
}

/*Слайд 1*/
.slide-1 {
    background: url(../img/slide1-bg-1.png);
    background-repeat: no-repeat;
    background-position: center center;
    box-sizing: border-box;
    background-size: cover;
    position: relative;
}

.slide-1 h2 {
    font-family: Noto Sans;
    font-size: 44px;
    color: #fff;
    margin-left: 60px;
    line-height: 120%;
    padding-top: 340px;
}

.slide-1 span {
    color: #E3DB14;
}

.slide-1 .logo {
    position: absolute;
    bottom: 75px;
    right: 50px;
}

.slide-1 .bg-image {
    position: absolute;
    top: 80px;
    right: -90px;
}

/*Слайд 2*/

.slide-2 {
    background: #ffffff;
    padding-top: 50px;
    position: relative;
    height: auto;
}

.slide-2 h2 {
    font-family: Noto Sans;
    font-size: 32px;
    line-height: 130%;
    border: 4px solid #E3DB14;
    box-sizing: border-box;
    max-width: 450px;
    margin: -130px auto 0 auto;
    padding: 40px;
    color: #E3DB14;
}

.slide-2 span {
    color: #595959;
}

.slide-2 p {
    display: block;
    font-family: Roboto;
    font-size: 16px;
    line-height: 120%;
    color: #7F7F7F;
}

.slide-2 .slide-image {
    margin: 0 auto;
    max-width: 602px;
    height: 496px;
    background: url(../img/slide2-bg-1.png);
    background-position: center center;
    background-repeat: no-repeat;
}

.slide-2 .bg-image {
    position: absolute;
    left: -30px;
    top: 120px;
}

.slide-2 .slide-text {
    width: 100%;
    padding: 75px 0px;
    margin-top: 60px;
    background: #F4F4F4;
    display: flex;
    justify-content: center;
}

/*Слайд 3*/
.slide-3 {
    height: auto;
    position: relative;
}

.slide-3 img {
    position: absolute;
    right: 50px;
    top: 335px;
}

.slide-3 .section-1 {
    background: url(../img/slide3-bg-1.png);
    background-position: top;
    background-repeat: no-repeat;
    width: 100%;
    height: 395px;
}

.slide-3 .section-2 {
    background: #29A6DF;
    padding: 60px 55px;
}

.slide-3 .section-2 h2 {
    font-family: Noto Sans;
    font-size: 32px;
    color: #fff;
    margin-bottom: 30px;
}

.slide-3 p {
    font-family: Roboto;
    font-size: 14px;
    color: #fff;
}

.slide-3 p span {
    color: #29A6DF;
    background: #E3DB14;
}

.slide-3 .section-3 {
    background: #fff;
    padding: 60px 75px 50px;
    box-sizing: border-box;
}

.slide-3 .section-3 h2 {
    color: #404040;
    font-family: Noto Sans;
    font-size: 32px;
    margin-bottom: 50px;
}

.slide-3 .item-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.slide .item {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.slide .number {
    font-family: Noto Sans;
    font-size: 32px;
    color: #2AA9E3;
    font-weight: bold;
    margin-right: 30px;
}

.slide .text {
    font-family: Roboto;
    font-size: 14px;
    color: #7F7F7F;
}

/*Слайд 4*/
.slide-4 {
    height: auto;
    padding: 20px 45px;
    position: relative;
    background: #fff;
}

.slide-4 .slide-4-image {
    position: absolute;
    bottom: -25px;
}

.slide-4 h2 {
    font-family: Noto Sans;
    font-size: 32px;
    margin-bottom: 40px;
    overflow-wrap: break-word;
    line-height: 130%;
}

.slide-4 .service_container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.slide-4 .foto-video {
    display: flex;
    flex-direction: column;
    font-family: Roboto;
    font-size: 14px;
    color: #7F7F7F;
    font-weight: bold;
}

.slide-4 .foto {
    background: url(../img/slide4-foto.png), #fff;
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 47px;
    padding-top: 35px;
    height: 94px;
    box-sizing: border-box;
}

.slide-4 .video {
    background: url(../img/slide4-video.png), #fff;
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 47px;
    padding-top: 35px;
    height: 94px;
    box-sizing: border-box;
}

.slide-4 .list-container {
    background: url(../img/slide4-lupa.png) no-repeat;
    background-position: left top;
    padding-left: 50px;
}

.slide-4 h3 {
    font-family: Roboto;
    font-size: 14px;
    color: #7F7F7F;
    font-weight: bold;
    padding-top: 35px;
    margin-bottom: 15px;
    margin-left: -20px;
}

.slide-4 ul {
    list-style: disc;
}

.slide-4 li {
    font-family: Roboto;
    font-size: 14px;
    color: #2AA9E3;
    margin-bottom: 15px;
}

.slide-4 li span {
    color: #7f7f7f;
}

.slide-4 .foto-container {
    margin-top: 65px;
}

.slide-4 .row-1 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
}

.slide-4 .row-1 img {
    margin-right: 15px;
}

.slide-4 .row-2 {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.slide-4 .column-1 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex-wrap: wrap;
}

.slide-4 .column-1 img:first-child {
    max-width: 400px;
    margin-bottom: 15px;
}

/*Слайд 5*/
.slide-5 {
    height: auto;
    padding: 50px 45px;
    background: #fff;
}

.slide-5 h2 {
    font-family: Noto Sans;
    font-size: 32px;
    margin-bottom: 50px;
    overflow-wrap: break-word;
    line-height: 130%;
}

.slide-5 .items-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.slide-5 .item-1,
.item-2,
.item-4 {
    font-family: Roboto;
    font-size: 14px;
    font-weight: bold;
    color: #7F7F7F;
    padding-left: 50px;
    height: 95px;
    padding-top: 45px;
}

.slide-5 .item-1 {
    background: url(../img/slide5-star.png) no-repeat;
    background-position: left center;
}

.slide-5 .item-2 {
    background: url(../img/slide5-circle.png) no-repeat;
    background-position: left center;
}

.slide-5 .item-2 br {}

.slide-5 .item-3 {
    background: url(../img/slide5-chart.png) no-repeat #000;
    background-position: center center;
    width: 328px;
    height: 261px;
    margin-top: 90px;
}

.slide-5 .item-4 {
    background: url(../img/slide5-pin.png) no-repeat;
    background-position: left center;
}

.slide-5 .item-4 br {}

.slide-5 .item-5 {
    font-family: Roboto;
    font-size: 14px;
    font-weight: bold;
    color: #2AA9E3;
}

.slide-5 h3 {
    color: #7f7f7f;
}

.slide-5 li {
    margin-top: 20px;
}

.slide-5 li span {
    color: #7f7f7f;
    font-weight: lighter;
}

.slide-5 .item-6 {
    background: url(../img/slide5-map.png) no-repeat;
    background-position: center center;
    width: 328px;
    height: 261px;
}

/*Слайд 6*/
.slide-6 {
    height: auto;
    background: #F4F4F4;
    position: relative;
}

.slide-6 .slide-6-image {
    position: absolute;
    z-index: 1;
    left: 120px;
    top: 284px;
}

.slide-6 .promo {
    background: url(../img/slide6-bg.png) no-repeat;
    max-width: 100%;
    height: 480px;
}

.slide-6 h2 {
    font-family: Noto Sans;
    font-size: 32px;
    color: #404040;
    margin-top: 70px;
    padding: 0 45px
}

.slide-6 .slide-6-container {
    padding: 50px 45px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.slide-6 .item {
    width: 250px;
    display: flex;
    justify-content: flex-start;
}

.slide-6 .item img {
    
}

.slide-6 .item br {}

.slide-6 .text {
    margin-left: 25px;
}

.slide-6 .text br {}

/*Слайд 7*/
.slide-7 {
    height: auto;
    background: url(../img/slide7-bg.png) no-repeat, #fff;
    background-position: bottom 50px right -70px;
    padding-top: 100px;
}

.slide-7 h2 {
    font-family: Noto Sans;
    font-size: 32px;
    color: #404040;
}

.title{
    padding: 0 45px; 
    font-family: Noto Sans;
    font-size: 32px;
    color: #404040;
}

.slide-7 .formul-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 90px;
    padding: 0 45px; 
}

.slide-7 .formul-container .item {
    display: flex;
    flex-direction: column;
    margin-right: 50px;
    align-items: flex-start;
}

.slide-7 .formul-container .item:last-child{
     margin-right: 0px;
}

.equal{
    margin-left: 50px;
}

.slide-7 .figure {
    display: flex;
    align-items: center;
}

.slide-7 span {
    font-family: Noto Sans;
    font-size: 12px;
}

.slide-7 .under-text {
    font-family:Roboto;
    font-size: 14px;
    margin-top: 20px;
    color: #7F7F7F;
    margin-right: -10px;
}

.slide-7 h4 {
    font-family: Roboto;
    font-size: 14px;
    background: #2AA9E3;
    color: #F2F2F2;
    width: 31px;
    margin-bottom: 35px;
    margin-left: 45px; 
}

.slide-7 .result-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 45px; 
}

.slide-7 .result-container .item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.slide-7 .result-container p {
    margin-top: 20px;
    font-family:Roboto;
    font-size: 14px;
    margin-top: 20px;
    color: #7F7F7F;
    margin-right: -10px;
}

.slide-7 h3 {
    font-family: Noto Sans;
    font-size: 32px;
    color: #2AA9E3;
}

.slide-7 h3:last-child{
    font-family: Roboto;
    font-size: 36px;    
}

.slide-7 h3 br {
}
.slide-7 .txt-container {
    background: #2AA9E3;
    padding: 0 50px 50px;
    font-family: Roboto;
    font-size: 18px;
    color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.slide-7 .txt-container p {
    padding-top: 70px;
    width: 80%;
    margin: 0 auto;
}
.slide-7 .txt-container br {
}

/*Слайд 8*/
.slide-8 {
    height: auto;
    background: #fff;
    padding-top: 50px;
}

.slide-8 .price-container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 70px;
    margin-bottom: 40px;
    padding: 0 50px;
}

.slide-8 .price-item {
    display: flex;
    flex-direction: column;
}

.slide-8 .price-item p, .price-item{
    margin-top: 10px;
    font-family: Roboto;
    font-size: 14px;
    color: #7F7F7F;
}

.slide-8 .price {
    font-family: Noto Sans;
    font-size: 32px;
    color: #2AA9E3;
}

.slide-8 .slide-8-map {
    background: url(../img/slide8-bg-1.png) no-repeat;
    background-position: center center;
    padding: 0 50px;
}

.slide-8 h4 {
    font-family: Roboto;
    font-size: 14px;
    background: #2AA9E3;
    color: #F2F2F2;
    width: 103px;
    margin-bottom: 25px;
}

.slide-8 .map-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.slide-8 .map-item {
    display: flex;
    align-items: center;
}

.slide-8 img {
    width: 34px;
    height: 34px;
    margin-right: 15px;
}

.slide-8 span {
    font-family: Roboto;
    font-size: 14px;
    color: #7F7F7F;
}

.slide-8 .subtitle {
    font-family: Roboto;
    font-size: 28px;
    color: #2AA9E3;
    padding-bottom: 20px;
}

.slide-8 b {
    font-weight: bold;
}

.slide-8 .cost-container {
    background: url(../img/slide8-bg-2.png) no-repeat,#2AA9E3;
    background-position: right -70px center;
    padding: 85px 50px;
}
.slide-8 .cost-container p {
    font-family: Roboto;
    font-size: 18px;
    color: #fff;
    line-height: 130%;
    margin-bottom: 20px;
}

.slide-8 .price2 {
    font-family: Noto Sans;
    font-size: 54px;
    color: #fff;
}

/* Слайд 9 */
.slide-9 {
    height: auto;
    background: #fff;
    padding-top: 50px;
}

.slide-9 .logos-container {
    margin-top: 70px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 50px;
}

.slide-9 p {
    font-family: Roboto;
    font-size: 14px;
    color: #7F7F7F;
    margin-bottom: 30px;
    padding: 0 50px;
}

.slide-9 .question {
    background: url(../img/slide9-bg.png);
    height: 480px;
    padding: 0 50px;
}

.slide-9 h2 {
    font-family: Roboto;
    font-size: 28px;
    color: #2AA9E3;
    text-align: right;
    padding-top: 70px;
}

.slide-9 .price-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 50px 50px 0px;
    background: #2AA9E3;
    box-sizing: border-box;
}
.slide-9 .item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.slide-9 .item p {
    color: #fff;
}

.slide-9 h3 {
    font-family: Noto Sans;
    font-size: 60px;
    color: #fff;
}

/*Слайд 10*/
.slide-10 {
    padding-top: 50px;
    position: relative;
    background: #fff;
    height: auto;
}

.slide-10 img {
    position: absolute;
    right: -50px;
    top: 100px;
}

.slide-10 .bg-foto {
    background: url(../img/slide10-bg-2.png) no-repeat;
    background-position: bottom center;
    height: 510px;
}

.slide-10 .answer-why-container {
    background: #2AA9E3;
    padding: 70px;
}

.slide-10 h2 {
    font-family: Noto Sans;
    font-size: 32px;
    line-height: 130%;
    color: #fff;
    margin-bottom: 30px;
}

.slide-10 p {
    font-family: Roboto;
    font-size: 14px;
    line-height: 130%;
    color: #fff;
    margin-bottom: 30px;
}

.slide-10 span {
    background: #E3DB14;
    color: #29A4DD;
}

/*Слайд 11*/
.slide-11 {
    height: auto;
    padding-top: 50px;
    position: relative;
    background: #fff;
}

.slide-11 img {
    position: absolute;
    right: 50px;
    bottom: 300px;
}

.slide-11 h2 {
    color: #404040;
    font-family: Noto Sans;
    font-size: 32px;
    line-height: 130%;
    margin-bottom: 50px;
    padding: 0 50px;
}

.slide-11 p {
    font-family: Roboto;
    font-size: 14px;
    line-height: 120%;
    margin-top: 20px;
    color: #404040;
    padding: 0 50px;
}

.slide-11 b {
    font-weight: bold;
}

.slide-11 span {
    background: #E3DB14;
}
.slide-11 .bg-foto {
    background: url(../img/slide11-bg.png);
    height: 480px;
    margin-top: 70px;
}

/*Слайд 12*/
.slide-12 {
    height: auto;
    padding-top: 50px;
    background: #2AA9E3;
}

.slide-12 h2 {
    font-family: Noto Sans;
    font-size: 32px;
    color: #fff;
    margin-bottom: 30px;
    padding: 0 50px;
}

.slide-12 .answers-container {
    display: flex;
    flex-wrap: wrap;
    color: #fff;
    font-family: Roboto;
    font-size: 14px;
    padding: 0 50px 30px;
}

.slide-12 .answers-container p {
    margin-top: 20px;
    width: 300px;
    line-height: 150%;
}

.slide-12 span {
    background: #E3DB14;
    color: #2AA9E3;
}

.slide-12 .service-container {
    background: #fff;
    padding: 50px;
}

.slide-12 h3 {
    font-family: Noto Sans;
    font-size: 32px;
    color: #404040;
    margin-bottom: 30px;
}

.slide-12 .items-container-service {
    font-family: Roboto;
    font-size:14px;
    color: #404040; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.slide-12 .item-service {
    width: 280px;
    display: flex;
    line-height: 150%;
    margin-top: 20px;
}

.slide-12 .item-service img {
    height: 34px;
    width: 34px;
    margin-right: 20px;
    align-items: center;
}

.slide-12 .logos-container {
    padding: 50px;
    background: #fff;
}

.slide-12 .items-container-logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}

.slide-12 .items-container-logos img {
    margin-top: 20px;
}

/*Слайд 13*/
.slide-13 {
    background: #fff;
    padding-bottom: 50px;
    padding-top: 540px;
    height: 1021px;
    background: url(../img/slide13-bg.png) no-repeat, #fff;
    background-position: top center;
    
}

.slide-13 .contacts-container {
    color: #fff;
    font-family: Roboto;
}

.slide-13 .contacts {
    width: 60%;
    margin: 0 auto;
    border: 3px solid #E3DB14;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 150px;
}
.slide-13 h2 {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}

.slide-13 p {
    font-weight: lighter;
    margin-top: 20px;
}
.slide-13 .number {
    color: #fff;
    font-size: 14px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0px;
    line-height: 150%;
}

.slide-13 .footer {
    
}

.slide-13 h3 {
    font-family: Roboto;
    font-size: 14px;
    color: #7F7F7F;
    margin: 100px;
    text-align: center;
}



@media (max-width:768px) {
    .slide-1 .bg-image {
        right: 0;
    }

    .slide-2 .bg-image {
        left: 0;
    }

    .slide-2 .slide-text {
        padding: 20px 0;
    }

    .slide-3 img {
        display: none;
    }

    .slide-4 .column-1 {
        justify-content: center;
        align-items: center;
    }

    .slide-4 .column-1 img:first-child {
        width: 100%;
    }

    .slide-4 .row-2 {
        justify-content: center;
    }

    .slide-4 .foto-container img {
        margin: 10px auto 0 auto;
    }
    .slide-8 .cost-container{
        background: #2AA9E3;    
    }
    .slide-9 .logos-container img{
        margin: 10px 0;
    }
    .slide-10 img{
        right: 0px;
    }
    .slide-13 .contacts{
        width: 100%;
    }
    .slide-13 .contacts{
        padding-left: 0px;
        width: 99%;
    }
}
